/***********************Tag Selector*****************/
h1{
  color : red;
  font-size: 100px;
}
img{
  width:200px;
  height: 200px;
}

/*************************Class Selector****************/
.bacon{
  background-color:purple;
}
.broccoli{
  background-color:black;
}
.more{
  height: 100px;
  width: 100px;
  background-color: aqua;
}
